@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here if needed */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Hide the default audio player until a source is set */
audio:not([src]) {
    display: none;
}